{% load socialaccount %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Biblioteca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="bg-light d-flex align-items-center justify-content-center vh-100">
    
    <div class="container" style="max-width: 380px;">
        <div class="card shadow-sm border-0 rounded-4"> <!-- card borda do layout login / janela-->
            <div class="card-body">
                <h2 class="fw-bold text-dark text-center mb-4">Entrar</h2>

                <form action="{% url 'login_usuario' %}" method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuário</label>
                        <input type="text" class="form-control" id="usuario" name="username" placeholder="Digite seu usuário" required>
                    </div>

                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" name="password" placeholder="Digite sua senha" required>
                    </div>

                    <div class="mb-3 d-flex justify-content-end align-items-center">
                        <a href="#" class="small link-primary link-underline-opacity-0 link-underline-opacity-100-hover">
                            Esqueci minha senha
                        </a>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Entrar</button>
                </form>

                <!-- SEPARADOR COM LINHAS-->
                <div class="d-flex align-items-center my-3">
                    <hr class="flex-grow-1">
                    <span class="mx-2 text-muted">ou</span>
                    <hr class="flex-grow-1">
                </div>
                
                <!-- BOTÃO LOGAR COM O GOOGLE-->
                <div class="d-grid gap-2">
                    <a href="{% provider_login_url 'google' %}" class="btn btn-outline-dark d-flex align-items-center justify-content-center">
                        <i class="bi bi-google me-2"></i>
                         Entrar com o google
                    </a>
                </div>

                <div class="text-center mt-3">
                    <small class="text-muted">
                        Não tem uma conta? 
                        <a href="{% url 'cadastro' %}" class="link-primary link-underline-opacity-0 link-underline-opacity-100-hover">
                            Cadastre-se
                        </a>


                </div>

            </div>
        </div>
    </div>

</body>
</html>
